<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
    <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/layer/2.3/layer.js"></script>
    <title>登录</title>
</head>

<body>
<div id="login">
    <form>
        <label>
            <input type="text" placeholder="请输入账号" v-model="userName">
        </label>
        <label>
            <input type="password" placeholder="请输入密码" v-model="password">
        </label>

        <div class="login-btn" v-on:click="login">
            <a href="#">登录</a>
        </div>
    </form>


</div>
</body>
<script type="text/javascript">
    const loginVM = new Vue({
        el: '#login',
        data: {
            userName: '',
            password: '',
            rememberMe: false
        },
        methods: {
            login: function () {
                const that = this;
                if (that.userName == null || that.userName === '') {
                    layer.alert('请输入用户名');
                    return;
                }
                if (that.password == null || that.password === '') {
                    layer.alert('请输入密码');
                    return;
                }
                that.$http.post('/login', {
                    username: that.userName,
                    password: that.password
                }, {
                    emulateJSON: true
                }).then(function (res) {
                    window.location.href = '/index';
                });
            }
        }
    });
</script>
</html>